@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
}

.App {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #d82158;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ac1a46;
}

.page {
  min-height: 100vh;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.page-info {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.4;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.grid a,
.grid button {
  width: 100%;
  height: 200px;
  border: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.grid a p,
.grid button p {
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.grid a:hover,
.grid button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grid a:hover p,
.grid button:hover p {
  background-color: #d82158;
}

.back-btn {
  width: 200px;
  height: 40px;
  border: 0;
  background-color: #eeeeee;
  border-radius: 50px;
  margin-bottom: 40px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #979797;
}

@media (max-width: 1024px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .page {
    padding-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .page-info {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.3;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  padding: 0 10%;
}

.navbar-logo {
  font-size: 32px;
  font-weight: bold;
  color: #1ab9e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo span {
  padding: 8px 0;
  color: #d82158;
}

.navbar-nav {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #1ab9e0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.navbar-nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav ul li {
  position: relative;
}

.navbar-nav ul li a {
  color: #eeeeee;
}

.navbar-nav ul li.active::before,
.navbar-nav ul li.active::after {
  width: 100%;
}

.navbar-nav.toggled {
  top: 100px;
}

.navbar-btn {
  position: relative;
  width: 36px;
  height: 23px;
  border: 0;
  background: none;
  cursor: pointer;
}

.navbar-btn div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #d82158;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-btn .top {
  top: 0;
}

.navbar-btn .middle {
  top: 10px;
}

.navbar-btn .bottom {
  top: 20px;
}

.navbar-btn.toggled .top {
  top: 10px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.navbar-btn.toggled .middle {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
  opacity: 0;
}

.navbar-btn.toggled .bottom {
  top: 10px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.navbar-btn.toggled:hover .top {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.navbar-btn.toggled:hover .bottom {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media (max-width: 768px) {
  .navbar {
    height: 60px;
    padding: 0 5%;
  }
  .navbar-logo {
    font-size: 24px;
  }
  .navbar-nav {
    height: calc(100vh - 60px);
  }
  .navbar-nav.toggled {
    top: 60px;
  }
}

.footer {
  background-color: #202020;
  color: #eeeeee;
  height: 160px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 20px;
  margin-bottom: 60px;
  border: 2px dashed #202020;
}

.header h1 {
  font-size: 36px;
  font-weight: 400;
  color: #202020;
  font-family: "Spicy Rice", cursive;
  letter-spacing: 2px;
}

.header ul {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul li {
  height: 100%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul li a {
  color: #202020;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header ul li i {
  color: #202020;
  margin: 0 6px;
}

@media (max-width: 768px) {
  .header {
    padding-left: 8px;
    margin-bottom: 30px;
  }
  .header h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .header ul {
    height: 28px;
  }
  .header ul li {
    font-size: 12px;
  }
}

.loading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 6px solid #1ab9e0;
  border-right: 6px solid #0c0c0c;
  border-bottom: 6px solid #0c0c0c;
  border-left: 6px solid #0c0c0c;
  -webkit-animation: loading 0.6s ease-in-out infinite;
          animation: loading 0.6s ease-in-out infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home-page .site-links {
  margin: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.home-page .site-links li {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px #202020;
  box-shadow: 0px 2px #202020;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-page .site-links li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 0 4px;
  color: #202020;
}

.home-page .site-links li:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0px 10px #202020;
  box-shadow: 0px 10px #202020;
}

.home-page .showcase {
  margin: 40px 0;
  padding: 100px 40px;
  border-radius: 18px;
  background-image: url("../assets/img/home-showcase-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
}

.home-page .showcase h1 {
  color: #1ab9e0;
  font-size: 48px;
  margin-bottom: 40px;
  width: 400px;
  line-height: 1.5;
}

.home-page .showcase h1 span {
  color: #d82158;
}

.home-page .showcase p {
  font-size: 24px;
  line-height: 1.5;
  width: 500px;
}

.home-page .showcase .mouse {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 80px;
  border-radius: 50px;
  background-color: #1ab9e0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation: mouseScroll 0.6s ease-in-out infinite;
          animation: mouseScroll 0.6s ease-in-out infinite;
}

.home-page .showcase .mouse::before {
  content: "";
  position: absolute;
  top: 4px;
  left: calc(50% - 2px);
  width: 4px;
  height: 20px;
  background-color: #fff;
}

.home-page .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 100px 0 40px 0;
}

.home-page .grid div {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-page .grid div span {
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 32px;
}

.home-page .grid div h2 {
  margin-bottom: 30px;
  font-family: "Spicy Rice", cursive;
  color: #1ab9e0;
  letter-spacing: 2px;
  position: relative;
}

.home-page .grid div h2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100px;
  height: 6px;
  background-color: #1ab9e0;
  border-radius: 4px;
}

.home-page .grid .riddle span {
  color: #fa8b68;
}

.home-page .grid .riddle .ans {
  width: 200px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  border-radius: 18px;
  background-color: #d82158;
  color: #eeeeee;
}

.home-page .grid .riddle .ans:hover {
  background-color: #ac1a46;
}

.home-page .grid .trivia span {
  color: #d82158;
}

.home-page .grid .experiment span {
  color: #3b42f9;
}

.home-page .grid .origami span {
  color: #f4f0a6;
}

.home-page .grid div:hover {
  -webkit-transform: scale(1.05) rotate(3deg);
          transform: scale(1.05) rotate(3deg);
}

@-webkit-keyframes mouseScroll {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes mouseScroll {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@media (max-width: 768px) {
  .home-page .site-links {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
  .home-page .showcase {
    padding: 40px 20px 60px 20px;
  }
  .home-page .showcase h1 {
    width: 100%;
    font-size: 32px;
  }
  .home-page .showcase p {
    width: 100%;
    font-size: 18px;
  }
  .home-page .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.single-game-page .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.drawing-page .drawing-container {
  height: 600px;
  position: relative;
}

.drawing-page .drawing-container .toolbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  padding: 10px 4px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.drawing-page .drawing-container .toolbox div {
  width: 100%;
  border-bottom: 1px solid #d5d5d5;
  padding: 8px 0;
}

.drawing-page .drawing-container .toolbox div:last-child {
  border-bottom: none;
}

.drawing-page .drawing-container .toolbox div p {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
}

.drawing-page .drawing-container .toolbox .toolbox-btn {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 2px;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.drawing-page .drawing-container .toolbox .toolbox-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.drawing-page .drawing-container .toolbox .toolbox-btn.selected {
  border: 2px solid #1ab9e0;
}

.drawing-page .drawing-container .toolbox .clear-btn,
.drawing-page .drawing-container .toolbox .download-btn {
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  background-color: indianred;
  color: #eeeeee;
  border: none;
  border-radius: 18px;
  padding: 6px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.drawing-page .drawing-container .toolbox .download-btn {
  display: block;
  width: 100%;
  background-color: #1ab9e0;
}

.drawing-page .drawing-container .toolbox .clear-btn:hover,
.drawing-page .drawing-container .toolbox .download-btn:hover {
  background-color: #717171;
}

.drawing-page .drawing-container #canvas {
  display: block;
  border-radius: 18px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

.drawing-page .drawing-container #canvas:hover {
  cursor: crosshair;
}

.origamis-page .origamis-grid button {
  border-radius: 18px;
  border: 2px solid #f4f0a6;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.48);
}

.origamis-page .origamis-grid button p {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.origamis-page .origami-steps ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.origamis-page .origami-steps ul li {
  width: 100%;
}

.origamis-page .origami-steps ul li img {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .origamis-page .origami-steps ul {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .origamis-page .origami-steps ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .origamis-page .origami-steps ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.quizes-page .categories-grid li button {
  border-radius: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.48);
}

.quizes-page .categories-grid li button p {
  border-radius: 18px;
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.6);
}

.quizes-page .categories-grid li button:hover p {
  background-color: rgba(41, 232, 51, 0.7);
  color: #202020;
}

.quizes-page .quiz-container .quiz-question .progress-bar {
  background-color: #eeeeee;
  height: 12px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.quizes-page .quiz-container .quiz-question .progress-bar .progress {
  height: 100%;
  border-radius: 12px;
  width: 20%;
  background-color: #29e833;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quizes-page .quiz-container .quiz-question .question {
  margin-bottom: 40px;
  font-size: 36px;
}

.quizes-page .quiz-container .quiz-question .answers p {
  margin-bottom: 20px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizes-page .quiz-container .quiz-question .answers p button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 18px;
  border: 10px solid #202020;
  border-radius: 50%;
  position: relative;
}

.quizes-page .quiz-container .quiz-question .answers p button::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #29e833;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.quizes-page .quiz-container .quiz-question .answers p button:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.quizes-page .quiz-container .quiz-result h2 {
  color: #202020;
  margin-bottom: 60px;
}

.quizes-page .quiz-container .quiz-result .info {
  font-size: 24px;
  margin-bottom: 20px;
}

.quizes-page .quiz-container .quiz-result .info span {
  color: #29e833;
  font-weight: bold;
}

.quizes-page .quiz-container .quiz-result .img {
  width: 400px;
  margin-bottom: 20px;
}

.quizes-page .quiz-container .quiz-result .img img {
  max-width: 100%;
}

.quizes-page .quiz-container .quiz-result .failed-questions h3 {
  margin-bottom: 20px;
}

.quizes-page .quiz-container .quiz-result .failed-questions p {
  margin-bottom: 10px;
}

.quizes-page .quiz-container .quiz-result .failed-questions p span {
  color: #16c81f;
}

@media (max-width: 768px) {
  .quizes-page .quiz-container .quiz-question .question {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .quizes-page .quiz-container .quiz-question .answers p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .quizes-page .quiz-container .quiz-question .answers p button {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 4px solid #202020;
  }
  .quizes-page .quiz-container .quiz-question .answers p button::before {
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
  }
  .quizes-page .quiz-container .quiz-result h2 {
    margin-bottom: 30px;
  }
  .quizes-page .quiz-container .quiz-result .info {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .quizes-page .quiz-container .quiz-result .img {
    width: 100%;
  }
  .quizes-page .quiz-container .quiz-result .failed-questions h3 {
    margin-bottom: 12px;
  }
}

.riddles-page .riddle-list li {
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 18px;
  background-color: #fa8b68;
  position: relative;
  overflow: hidden;
}

.riddles-page .riddle-list li .riddle {
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px 50px 20px 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.riddles-page .riddle-list li .riddle span:nth-child(1) {
  background-color: #202020;
  width: 40px;
  height: 100%;
  margin-right: 30px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.riddles-page .riddle-list li .riddle span:nth-child(2) {
  font-size: 22px;
}

.riddles-page .riddle-list li .answer {
  font-size: 18px;
  position: absolute;
  bottom: -22px;
  left: 50px;
  color: #202020;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.riddles-page .riddle-list li span.icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #eeeeee;
}

.riddles-page .riddle-list li span.icon i {
  color: #202020;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.riddles-page .riddle-list li.toggled .riddle {
  padding-bottom: 70px;
}

.riddles-page .riddle-list li.toggled .answer {
  bottom: 20px;
}

.riddles-page .riddle-list li.toggled span.icon i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.riddles-page .riddle-list li:hover {
  background-color: #f9784f;
}

@media (max-width: 768px) {
  .riddles-page .riddle-list li {
    margin-bottom: 12px;
  }
  .riddles-page .riddle-list li .riddle span:nth-child(2),
  .riddles-page .riddle-list li .answer {
    font-size: 16px;
  }
  .riddles-page .riddle-list li.toggled .riddle {
    padding-bottom: 50px;
  }
  .riddles-page .riddle-list li.toggled .answer {
    bottom: 10px;
  }
}

.experiments-container .experiment {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #979797;
}

.experiments-container .experiment h2 {
  font-size: 32px;
  font-family: "Spicy Rice", cursive;
  margin-bottom: 40px;
}

.experiments-container .experiment h3 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #3b42f9;
}

.experiments-container .experiment .img {
  width: 800px;
  height: 600px;
  margin-bottom: 40px;
  background-color: #000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-radius: 18px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

.experiments-container .experiment p.attention {
  font-size: 18px;
  color: #d82158;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1.4;
}

.experiments-container .experiment p.header {
  font-size: 22px;
  line-height: 1.4;
  padding: 20px;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 18px;
  background-color: rgba(59, 66, 249, 0.6);
  color: #eeeeee;
}

.experiments-container .experiment ul {
  margin-bottom: 40px;
  padding-left: 30px;
}

.experiments-container .experiment ul li {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.4;
}

.experiments-container .experiment ul li span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #3b42f9;
  color: #eeeeee;
}

.experiments-container .experiment p.description {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.experiments-container .experiment a {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 50px;
  background-color: #3b42f9;
  color: #eeeeee;
}

.experiments-container .experiment a:hover {
  background-color: #0a12f7;
}

@media (max-width: 1024px) {
  .experiments-container .experiment .img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .experiments-container .experiment .img {
    height: 300px;
  }
  .experiments-container .experiment h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .experiments-container .experiment h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .experiments-container .experiment p.attention {
    font-size: 14px;
  }
  .experiments-container .experiment p.header,
  .experiments-container .experiment p.description,
  .experiments-container .experiment ul li {
    font-size: 16px;
  }
  .experiments-container .experiment ul {
    padding-left: 0px;
  }
  .experiments-container .experiment p.header {
    border: 1px dashed #202020;
    padding: 10px;
  }
  .experiments-container .experiment a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=App.css.map */