.drawing-page {
  .drawing-container {
    height: 600px;
    position: relative;

    .toolbox {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      padding: 10px 4px;
      background-color: $color-light;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      transition: top 0.3s ease-in-out;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;

      div {
        width: 100%;
        border-bottom: 1px solid darken($color-light, 10);
        padding: 8px 0;

        &:last-child {
          border-bottom: none;
        }

        p {
          margin-bottom: 4px;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .toolbox-btn {
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin: 2px;
        border: 2px solid transparent;
        border-radius: 50%;
        box-sizing: content-box;
      }

      .toolbox-btn:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }

      .toolbox-btn.selected {
        border: 2px solid $color-primary;
      }

      .clear-btn,
      .download-btn {
        cursor: pointer;
        width: 100%;
        font-size: 14px;
        background-color: indianred;
        color: $color-light;
        border: none;
        border-radius: 18px;
        padding: 6px 0;
        transition: 0.3s;
      }

      .download-btn {
        display: block;
        width: 100%;
        background-color: $color-primary;
      }

      .clear-btn:hover,
      .download-btn:hover {
        background-color: darken($color-gray, 15);
      }
    }

    #canvas {
      display: block;
      border-radius: 18px;
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
    }

    #canvas:hover {
      cursor: crosshair;
    }
  }
}
