$font-1: "Comfortaa", cursive;
$font-2: "Spicy Rice", cursive;

$color-primary: #1ab9e0;
$color-secondary: #d82158;
$color-light: #eeeeee;
$color-dark: #202020;
$color-gray: #979797;

$color-oyunlar: #00b6ff;
$color-cizim: #ffee5b;
$color-deneyler: #3b42f9;
$color-origami: #f4f0a6;
$color-quiz: #29e833;
$color-ingilizce: #ed25be;
$color-bilmece-bulmaca: #fa8b68;
$color-fotograf-galerisi: #f93b3b;

$px-lg: 10%;
$px-sm: 5%;

$navbar-height-lg: 100px;
$navbar-height-sm: 60px;
